test_dct
*tmp/*
test_dct_arm
dct_image_compression.c
Compressed_Image.pgm
Decompressed_Image.pgm
Image.pgm
dct_image_compression
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
